<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
  <meta charset='UTF-8' />
  <title>Curation Collection</title>

  <link rel='stylesheet' type='text/css' href='topics.css'
                                         media='all' />
 </head>
 <body>
  <div id='curation'>
   <input type='text' id='curation-topic-add' placeholder='New Topic' />
   <ul id='curation-topics'></ul>
  </div>
 </body>

 <script id='curation-topic' type='text/template'>
  <li class="curation-topic" draggable="true"
                             droppable="curation-topic curation-item">
   <div class="toggle" title="collapse topic">&nbsp;</div>
   <h1><%= topic %></h1>
   <ul class="curation-items"><% _.each(items, function(item) { %>
    <li class="curation-item" draggable="true"
                              droppable="curation-item">
     <header>
      <div class="curation-comments"><%= (_.isArray(item.comments) ? item.comments.length : item.comments) %></div>
      <h1><a href="<%= item.url %>" class="url"><%= item.title %></a></h1>
      <time datetime="<%= item.timestamp %>">
       <span class="date"><%= ts2dateStr(item.timestamp) %></span>
       <span class="time"><%= ts2timeStr(item.timestamp) %></span>
      </time>
     </header>
     <div class="curation-content">
      <%= item.content %>
     </div>
    </li><% }); %>
   </ul>
  </li>
 </script>
</html>
