<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
  <meta charset='UTF-8' />
  <title>Curation Collection</title>

  <!-- All resources must use URLs relative to the base path of this script:
            data/view/topics/index.html
            
            data(root) == ../../
            css        == ../../css
            js         == ../../js
    -->
  <link rel='stylesheet' type='text/css' href='../../css/bootstrap.css'
                                         media='all' />
  <link rel='stylesheet' type='text/css' href='../../css/ui.css'
                                         media='all' />
  <link rel='stylesheet' type='text/css' href='topics.css' media='all' />

  <!-- Foundational scripts -->
  <script type='text/javascript' src='../../js/jquery.js'></script>
  <script type='text/javascript' src='../../js/underscore.min.js'></script>
  <script type='text/javascript' src='../../js/backbone.min.js'></script>

  <!-- Models -->
  <!-- script type='text/javascript' src='../../model/database.js'></script -->
  <!-- script type='text/javascript' src='../../model/user.js'></script -->
  <!-- script type='text/javascript' src='../../model/topic.js'></script -->
  <!-- script type='text/javascript' src='../../model/item.js'></script -->
  <!-- script type='text/javascript' src='../../model/comment.js'></script -->

  <!-- Views -->
  <!-- script type='text/javascript' src='../user.js'></script -->
  <!-- script type='text/javascript' src='../topic.js'></script -->
  <!-- script type='text/javascript' src='../item.js'></script -->
  <!-- script type='text/javascript' src='../comment.js'></script -->
  <script type='text/javascript' src='topics-sidebar.js'></script>
 </head>
 <body>
  <div id='collaborative-curation'>
   <div class='curation-input'>
    <input class='new-topic' type='text' placeholder='New Topic' />
   </div>
   <ul    class='curation-topics'></ul>
  </div>
 </body>

 <script id='curation-topic' type='text/template'>
   <header>
    <div class="toggle" title="collapse topic">&nbsp;</div>
    <h1><%= title %></h1>
    <div class='curation-controls'
     ><div class="control-edit ui-icon ui-icon-pencil"
          title="edit">edit</div
     ><div class="control-delete ui-icon ui-icon-trash"
          title='delete'>delete</div
      ><div class="control-move-top ui-icon ui-icon-arrowthickstop-1-n"
           title='move to top'>move to top</div
    ></div>
   </header>
   <ul class="curation-items">
     <!-- curation-item entries -->
   </ul>
 </script>

 <script id='curation-item' type='text/template'>
     <div class="curation-comments"><%= (_.isArray(comments) ? comments.length : comments) %></div>
     <time datetime="<%= timestamp %>">
      <span class="date"><%= ts2dateStr(timestamp) %></span>
      <span class="time"><%= ts2timeStr(timestamp) %></span>
     </time>
     <div class="curation-content">
      <%= content %>
     </div>
     <div class='curation-controls'
      ><a class="control-visit ui-icon ui-icon-extlink"
          href="<%= url %>"
          data-location="<%= location %>"
          data-selector="<%= selector %>"
          title="visit">visit</a
      ><div class="control-delete ui-icon ui-icon-trash"
           title='delete'>delete</div
     ></div>
 </script>
</html>
