html {
  font:       100% arial, helvetica, sans-serif;

  min-height: 100%;
  width:      100%;

  margin:     0;
  padding:    0;

  background-image: -moz-linear-gradient(top left, #444, #222);
  background-repeat:no-repeat;

  color:        #eee;
}
body {
  margin:   0;
  padding:  0;
}
a {
  /*color:            #aae;*/
  color:            #c93;
  text-decoration:  none;
  text-shadow:      1px 1px 2px #000;
}
a:hover {
  text-shadow:      1px 1px 2px #000, 0 0 0.5em #fc3, 0 0 1px #b82;
}

#collaborative-curation input {
  border-radius:  0.5em;
  padding:        0.2em;
}

.new-topic {
  width:          100%;

  background-image:     url(../../images/add.png);
  background-position:  right center;
  background-repeat:    no-repeat;
}

.curation-topics {
  list-style: none;
  margin:     0;
  padding:    0;
}

.curation-topic {
  position:     relative;

  margin:       0.5em 0.2em;
  padding:      0 0 0 12px;
}
.curation-topic .toggle {
  position:             absolute;
  top:                  0.4em;
  left:                 -4px;

  width:                8px;
  height:               8px;

  background-image:     url(images/bullet-opened.png);
  background-repeat:    no-repeat;
  background-size:      8px 8px;

  cursor:               pointer;
}

.curation-topic > header h1 {
  font-size:      1em;
  margin:         0;
  padding:        0;

  text-shadow:    1px 1px 2px #000;
  border-bottom:  1px solid #333;

  cursor:         pointer;
}
.curation-topic:hover > header h1 {
  text-shadow:    1px 1px 2px #000, 0 0 0.5em #eee, 0 0 1px #999;
}

.curation-items {
  list-style: none;
  margin:     0;
  padding:    0;
}

.curation-item {
  position:   relative;
  font-size:  0.9em;
  margin:     0;
  padding:    0.5em 3.8em 0.4em 15px; /* right:time, left:comments/location */

  border-bottom:  1px dashed #333;
}
.curation-item:last-child {
  border-bottom:  none;
}

.curation-item .curation-comments {
  display:    none;

  position:   absolute;
  font-size:  0.5em;

  left:       -1em;
}

.curation-item time {
  position:     absolute;
  right:        0.2em;
  top:          0.3em;

  margin:       0;
  padding:      0;

  width:        3.8em;
  line-height:  0.65em;
  text-align:   right;

  color:        #999;
}
.curation-item time > span {
  margin:     0;
  padding:    0;
  font-size:  0.7em;
}

.curation-item .curation-content {
  margin:     0;
  padding:    0;

  color:      #999;
}
.curation-item .curation-location {
  position:         absolute;
  top:              0.6em;
  left:             0;

  visibility:       hidden;

  width:            10px;
  height:           10px;

  background-image: url(../../images/visit.png);
}
.curation-item:hover .curation-location {
  visibility:       visible;
}

/**********************************************
 * Topic close state
 *
 */
.curation-topic.collapsed > h1 {
  border-bottom:  0;
}
.curation-topic.collapsed .curation-items {
  display:  none;
}

.collapsed .toggle {
  background-image:     url(images/bullet-closed.png);
}

/**********************************************
 * Drag-and-drop
 *
 */
.dragging {
  opacity:  0.4;
}

.curation-topic.drag-over,
.curation-item.drag-over {
  border-bottom:  1px dashed #999;
}

.curation-topic.collapsed.drag-over {
  border-bottom:  1px dashed #999;
}
