<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
  <meta charset='UTF-8' />
  <title>Curation Collection</title>

  <link rel='stylesheet' type='text/css' href='data/view/topics/topics.css'
                                         media='all' />
  <style type='text/css'>
body {
    padding:    1em;
}
  </style>
 </head>
 <body>
  <div id='collaborative-curation'>
   <input type='text' class='new-topic' placeholder='New Topic' />
   <ul class='curation-topics'></ul>
  </div>

  <h3>Additional, "External" drag sources</h3>
  <ul>
   <li>Here is some text that could be highlighted and dragged, along with a
   link to information about <a href="http://www.microsoft.com/surface/en/us/default.aspx">Microsoft Surface</a></li>
   <li>A simple image: <img src='data/images/sidebar-icon.png' alt='icon' /></li>
  </ul>
 </body>

 <script id='curation-topic' type='text/template'>
   <header>
    <div class="toggle" title="collapse topic">&nbsp;</div>
    <h1><%= topic %></h1>
   </header>
   <ul class="curation-pages">
     <!-- curation-page entries -->
   </ul>
 </script>

 <script id='curation-page' type='text/template'>
     <header>
      <div class="toggle" title="collapse topic">&nbsp;</div>
      <h1><a href="<%= url %>" class="url"><%= title %></a></h1>
      <div class="curation-comments"><%= (_.isArray(comments) ? comments.length : comments) %></div>
      <time datetime="<%= timestamp %>">
       <span class="date"><%= ts2dateStr(timestamp) %></span>
       <span class="time"><%= ts2timeStr(timestamp) %></span>
      </time>
     </header>
     <ul class="curation-items">
      <!-- curation-item entries -->
     </ul>
 </script>

 <script id='curation-item' type='text/template'>
     <div class="curation-comments"><%= (_.isArray(comments) ? comments.length : comments) %></div>
     <time datetime="<%= timestamp %>">
      <span class="date"><%= ts2dateStr(timestamp) %></span>
      <span class="time"><%= ts2timeStr(timestamp) %></span>
     </time>
     <div class="curation-content">
      <%= content %>
     </div>
     <a class="curation-location" href="<%= location %>">&nbsp;</a>
 </script>

 <script src='data/js/jquery.min.js'></script>
 <script src='data/js/underscore.min.js'></script>
 <script src='data/js/backbone.min.js'></script>
 <script src='data/view/topics/topics-norm.js'></script>

 <script>
$(document).ready(function() {
var msg     = {
        "topics":   [
            {"topic":"Development",
             "pages":   [
                {"url":"https://developer.mozilla.org/en-US/",
                 "title":"Mozilla Developer",
                 "timestamp":1341225011904,
                 "comments":[],
                 "items":[]},
                {"url":"https://developer.mozilla.org/en/JavaScript/Reference",
                 "title":"Javascript",
                 "timestamp":1341225011904,
                 "comments":[],
                 "items":[
                    {"location":"#section_2 > p:first",
                     "timestamp":1341226022904,
                     "content":"Other object in the global scope are either created by the user script or provided by the host application",
                     "comments":[]},
                    {"location":"#section_5 > dl > dd.8",
                     "timestamp":1341228022904,
                     "content":"Operator precedence defines the order in which operators are evaluated.",
                     "comments":[]}
                 ]},
                {"url":"http://api.jquery.com/",
                 "title":"jQuery",
                 "timestamp":1341225011904,
                 "comments":[],
                 "items":[]},
                {"url":"http://documentcloud.github.com/backbone/#",
                 "title":"Backbone",
                 "timestamp":1341225011904,
                 "comments":[],
                 "items":[]},
                {"url":"http://documentcloud.github.com/underscore/#",
                 "title":"Underscore",
                 "timestamp":1341225011904,
                 "comments":[],
                 "items":[]},
                {"url":"http://nodejs.org/api/",
                 "title":"node.js",
                 "timestamp":1341225011904,
                 "comments":[],
                 "items":[]},
             ]
            },
            {"topic":"Misc",
             "pages":   [
                {"url":"https://google.com/",
                 "title":"google",
                 "timestamp":1341225011904,
                 "comments":[],
                 "items":[]}
             ]
            },
        ]
    };

$('#collaborative-curation').trigger('load', msg);
});
 </script>
</html>
