/******************************************
 * State: Visible
 *
 */
#curation-sidebar-splitter {
  -moz-appearance:    none;
  -moz-box-pack:      start !important;
  -moz-box-align:     start !important;

  min-width:          5px !important;
  max-width:          5px !important;
  width:              5px !important;

  margin:             0;
  padding:            0.25em 0 0 0 !important;
  border:             0;
  border-left:        1px solid #222;

  background-color:     #444;
  background-image:     -moz-linear-gradient(left, #777, #333) !important;
  background-repeat:    no-repeat;

  /*
  background-color:     #444;
  background-image:     url(../images/sidebar-icon.png),
                        -moz-linear-gradient(left, #666, #333) !important;
  background-position:  4px 4px, 0 0 !important;
  background-repeat:    no-repeat;
  // */
}

#curation-sidebar-grippy {
  visibility: hidden;
}

#curation-sidebar-box {
  position:           relative !important;
  -moz-appearance:    none;

  min-width:          18em;
  max-width:          100em;

  margin:             0 !important;
  padding:            0 !important;
  border:             0;
  border-left:        1px solid #333;

  background-image:   -moz-linear-gradient(top right, #444, #222);
  background-repeat:  no-repeat;

  /*
  padding-left:       16px;
  background-color:   #444;
  background-image:   url(../images/sidebar-icon.png), -moz-linear-gradient(top right, #eee, #444);
  background-position:  2px 2px, 0 0;
  background-repeat:    no-repeat;
  // */
}

#curation-sidebar-header {
  -moz-box-pack:      end !important;
  -moz-box-align:     end !important;

  margin:             0;
  padding:            0.25em 0 0.5em 0.25em !important;
  border:             0;
  border-bottom:      1px solid #222;
  background-color:   #444 !important;
  background-image:   -moz-linear-gradient(top, #444, #333) !important;

  /*background:         transparent !important;*/
}
#curation-sidebar-title {
  /*padding:            0.2em;*/

  color:              #eee;
  text-shadow:        1px 1px 3px #222 !important;
}
#curation-sidebar-close {
  min-width:          18px;
  max-width:          18px;
  width:              18px;
  min-height:         18px;
  max-height:         18px;
  height:             18px;

  margin:             0 1px 0 0!important;
  padding:            0 !important;
  border:             0 !important;

  background-color:     #333 !important;
  background-image:     url(../images/sidebar-icon.png);
  background-position:  center center;
  background-repeat:    no-repeat;

  cursor:               pointer;
}

#curation-sidebar {
  width:        100%;
  height:       100%;

  border:       0;
  border-left:  1px solid #333;
}

/******************************************
 * State: Hidden
 *
 */
#curation-sidebar-splitter.state-hidden {
  min-width:          24px !important;
  max-width:          24px !important;
  width:              24px !important;

  background-image:   -moz-linear-gradient(left, #666, #333) !important;
}
#curation-sidebar-box.state-hidden {
  display:    none;
}

.state-hidden #curation-sidebar-grip-container {
  width:              24px;
}
.state-hidden #curation-sidebar-grippy {
  visibility:         visible;

  width:              18px;
  min-height:         18px !important;
  max-height:         18px !important;
  height:             18px !important;

  background-color:     #333 !important;
  background-image:     url(../images/sidebar-icon.png);
  background-position:  center center;
  background-repeat:    no-repeat;
}
