html {
  min-height: 100%;
  width:      100%;

  background-image: -moz-linear-gradient(top left, #444, #222);
  background-repeat:no-repeat;

  color:        #eee;

  overflow:     hidden auto;
}
body {
  padding:  0.25em;
}

#collaborative-curation {
  padding:  0;
  margin:   0;
}
#collaborative-curation code,pre {
  display:          block;
  font-size:        0.8em;

  padding:          0 0.2em;

  color:            #eee;
  background-color: inherit;

  border-radius:    0;
  border:           none;
}

.curation-input {
  /* Adjust for .new-topic:width, which causes the input box to spill out of
   * the #collaborative-curation container.
   */
  display:      block;
  margin-right: 25px;
}
.curation-input input {
  width:          100%;
}
.curation-input .new-topic {
  background-image:     url(images/add.png);
  background-position:  right center;
  background-repeat:    no-repeat;
  opacity:              0.5;

  padding-right:        18px;
}
.curation-input .new-topic:hover,
.curation-input .new-topic:focus {
  opacity:  1.0;
}

/********************************
 * curation-topics {
 */
.curation-topics {
  list-style: none;
  margin:     0;
  padding:    0;
}

/********************************
 * curation-topic {
 */
.curation-topic {
  position:     relative;

  margin:       0.5em 0.2em;
  padding:      0 0 0 12px;
}
.curation-topic .toggle {
  position:             absolute;
  top:                  0;
  left:                 -6px;


  overflow:             hidden;
  text-indent:          -9999px;

  width:                16px;
  height:               16px;
  line-height:          16px;
  background-image:     url(images/ui-icons_888888_256x240.png);
  background-repeat:    no-repeat;
  background-position:  -80px -144px;   /* .ui-icon-bullet */

  /*
  top:                  0.4em;
  left:                 -4px;

  width:                8px;
  height:               8px;

  background-image:     url(images/bullet-opened.png);
  background-repeat:    no-repeat;
  background-size:      8px 8px;
  */

  cursor:               pointer;
}

.curation-topic > header h1 {
  font-size:      1em;
  margin:         0;
  padding:        0 50px 0 0; /* right-space for curation-controls */

  text-shadow:    1px 1px 2px #000;
  border-bottom:  1px solid #333;

  cursor:         pointer;
}
.curation-topic:hover > header h1 {
  text-shadow:    1px 1px 2px #000, 0 0 0.5em #eee, 0 0 1px #999;
}
.curation-topic > header .curation-input {
  position:     relative;
  margin-right: -50px;
  height:       1.1em;
}
.curation-topic > header .curation-input input {
  position:     absolute;
  top:          0;
  left:         0;
  z-index:      2;

  padding:      0;
}

.curation-topic > header .curation-controls {
  position:         absolute;
  top:              0;
  right:            2px;
  z-index:          1;

  height:           16px;
  width:            auto;
  line-height:      16px;

  visibility:       hidden;
}
.curation-topic > header:hover .curation-controls {
  visibility:       visible;
}
.curation-topic [class^="ui-icon-"],
.curation-topic [class*=" ui-icon-"],
.curation-topic .ui-icon {
  background-image:   url(images/ui-icons_888888_256x240.png);
}
.curation-topic [class^="ui-icon-"]:hover,
.curation-topic [class*=" ui-icon-"]:hover,
.curation-topic .ui-icon:hover {
  background-image:   url(images/ui-icons_2e83ff_256x240.png);
}

/* Hide the topic 'move-to-top' if it's already at the top */
.curation-topic:first-child > header .curation-controls .control-move-top {
  visibility: hidden;
}

/********************************
 * curation-items {
 */
.curation-items {
  list-style: none;
  margin:     0;
  padding:    0;
}

/********************************
 * curation-item {
 */
.curation-item {
  position:   relative;
  font-size:  0.9em;
  margin:     0;

  padding:    0.5em 0.5em 0.4em 15px; /* left:comments/location */
  /*
  padding:    0.5em 3.8em 0.4em 15px;  * right:time, left:comments/location */

  border-bottom:  1px dashed #222;

  /*overflow:   hidden;*/

  min-height:     24px; /* At least enough for 2 controls */
}
/*
.curation-item:last-child {
  border-bottom:  none;
}
*/

.curation-item .curation-comments {
  display:    none;

  position:   absolute;
  font-size:  0.5em;

  left:       -1em;
}

.curation-item time {
  float:        right;
  /*
  position:     absolute;
  right:        0.2em;
  top:          0.3em;

  margin:       0;
  padding:      0;

  width:        3.8em;
  */

  margin:       0 0 0 0.2em;
  padding:      0;

  width:        4em;
  line-height:  0.65em;
  text-align:   right;

  color:        #777;
}
.curation-item time > span {
  margin:     0;
  padding:    0;
  font-size:  0.7em;
}

.curation-item .curation-content {
  margin:     0;
  padding:    0;

  color:      #999;
}
.curation-item .curation-content img {
  height: auto;
}

.curation-item .curation-controls {
  position:         absolute;
  top:              0;
  left:             -2px;

  width:            16px;
  height:           auto;
  line-height:      16px;

  visibility:       hidden;
}
.curation-item:hover .curation-controls {
  visibility:       visible;
}
/* curation-item }
 * curation-items }
 * curation-topic }
 * curation-topics }
 ********************************/

/**********************************************
 * Topic close state
 *
 */
.curation-topic.collapsed > h1 {
  border-bottom:  0;
}
.curation-topic.collapsed .curation-items {
  display:  none;
}

.collapsed .toggle {
  background-position:  -112px -144px;  /* .ui-icon-radio-on */

  /*
  background-image:     url(images/bullet-closed.png);
   */
}

/**********************************************
 * Drag-and-drop
 *
 */
.dragging {
  opacity:  0.4;
}
.dragging .curation-controls {
  visibility:       hidden !important;
}

.curation-topic.drag-over,
.curation-item.drag-over {
  border-bottom:  1px dashed #999;
}

.curation-topic.collapsed.drag-over {
  border-bottom:  1px dashed #999;
}
